.wrap_bottom{
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
    background-color: rgb(255,255,255);
    display: flex;
    align-items: center;

    margin: 0px;
}
.left_bottom{
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    margin-right: 250px;
}
.left_bottom>img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.song{
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    
}
.singer{
    font-size: small;
    margin: 0px;
    margin-top: 5px;
    
}
.song_name{
    margin: 0px;
    margin-top: 5px;
    overflow: hidden;
}
.main_bottom{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50px;
    justify-content: space-around;
    margin-right:350px ;
}
.buttom{
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.buttom>img{
    width: 20px;
    height: 20px;
}
.start{
    margin-left: 50px;
    margin-right: 50px;
}
.time{
    width: 390px;
    display: flex;
    flex:none;
    align-items: center;
    justify-content: space-between;

    
}
.time>p{
    width: 35px;
    
    font-size: x-small;
    color: rgb(153,153,153);
}
.time0{
    
    margin: 0px;
}
.time1{
    margin: 0px;
    margin-left: 10px;
}
.total{
    height: 5px;
    width: 300px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(206,206,206);
    display: flex;
    position: relative;
    
}
.label2{
    display: block;
    transform: translateX(-2px);
    transform: translateY(-1.5px);
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(225, 78, 78);
    
}
.actual{
    height: 5px;
    width: 0;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(255,78,78);
}
.h_change_t{
    height: 6px;
}
.h_change_a{
    height: 8px;
}

.right_bottom{
    align-self: self-end;
    display: flex;
    flex-direction: column;
    flex: none;
    margin-bottom: 20px;
    align-items: center;
}
.right_bottom>img{
    width: 20px;
    height: 20px;
    
    z-index: 5;
}
.louder{

    background-color: rgba(229, 229, 229, 0.322);
    width: 30px;
    height: 110px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    

}
.loud{
    width: 5px;
    height: 100px;
    border-radius: 0px 0px 2.5px 2.5px;
    background-color: rgb(225, 78, 78);
}
.label1{
    transform: translateY(-1px);
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(225, 78, 78);
    display: none;
}
