body{
    margin: 0px;
    padding-bottom: 100px;
    width: 100rem;
}
body{
    margin: 0px;
    padding-bottom: 100px;
    width: 100rem;
}
.wrap_main{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100%;
    

}
.wrap_left{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 180px;
    padding-top: 20px;
    padding-left: 20px;
}
.left_box1{
    display: flex;
    width: 180px;
    flex-direction: column;
}
.left_box2{
    display: flex;
    width: 180px;
    flex-direction: column;
    margin-bottom: 20px;
}
.mylike{
    display: flex;
    align-items: center;
}
.mylike>a{
    text-decoration: none;
    color: rgb(89,89,89);
}
.mylike0{
    width: 25px;
    height: 23px;
}
.mylike1{
    width: 25px;
    height: 23px;
    position: relative;
    top: 2px;
}
.left_box3>a{
    font-size: small;
}
.my{
    font-size: small;
    color:rgb(153,153,153);
    margin: 0px;
    margin-bottom: 5px;
}
.Mylist{
    font-size: small;
    margin-left: 5px;
}
a,p{
    color: rgb(89,89,89);
    margin-top: 10px;
    margin-bottom: 10px;
}
.mk:visited{
    color: rgb(89,89,89);
    text-decoration: none;
}
.Mylist:visited{
    color: rgb(89,89,89);
    text-decoration: none;
}
.mylike>a:hover{
    color: black;
}
.li{
    margin-bottom: 20px;
    list-style: none;
    color: rgb(89,89,89);
}
.li0{
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
    list-style: none;
    color: rgb(49, 49, 49);
}
li:hover{
    color: black;
}
.wrap_main_right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}
h2{
    color: rgb(51,51,51);
    margin-left: 15px;
}
.wrap_main_head{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.btn{
    width: 100px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 65, 65);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}
.btn_word{
    font-size: small;
}
.btn>img{
    width: 16px;
    height: 16px; 
}
.main_list{
    margin-top: 40px;
}
.main_right_head{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(49, 49, 49);
}
.songs_list{
    margin-right: 40px;
    font-size: large;
    font-weight: bold;
    position: relative;
}
.songs_list::after{
    content: '';
    position: absolute;
    left: 5px;
    bottom: -8px;
    height: 3px;
    width: 60px;
    border-radius: 1.5px;
    background-color: rgb(236, 65, 65);
}
.songs_list_none{
    position: relative;
    margin-right: 40px;
}
.list0{
    display: flex;
    justify-content: space-between;
    color: rgb(102,102,102);
    font-size:small;
    margin-bottom: 15px;
}
.list{
    position: relative;
    color: rgb(89,89,89);
    font-size:small;
    margin-bottom: 5px;
}
.song_number{
   position: absolute;
   width: 16px;
   height: 16px;
}
.song_start{
    position:absolute;
}
.song_title{
    margin-left: 45px;
}
.song_title_new{
    color: rgb(49, 49, 49);
}
.player{
    position: absolute;
    left: 35%;
}
.al{
    position: absolute;
    left: 66.6%;
}
.song_time{
    color: rgb(153,153,153);
    float: right;
}