.searchBox{
    width:300px;
    height:800px;
    background-color:rgb(255, 255, 255);
    z-index:10;
    margin-top:25px;
    border-radius: 10px;
    
    flex-direction:column;

}
ol{
    padding-left:20px
}
.hot::marker{
    color:rgb(255,115,115);
}
.nohot::marker{
    color: rgb(202,202,202);
}
.search__title{
    margin-left:15px;
    margin-top:15px;
    color: rgb(89,89,89);
}
.search__li li{
    margin-left:15px;
    margin-top:20px;
    list-style-type:decimal;
    font-size: small;
}
.hot{
    color: rgb(51, 51, 51);
}
.nohot{
    color: rgb(122, 122, 122);
}